In [ ]:
#Social_Networks_Ads.csv

**Importing the libraries**

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score

**Importing the dataset**

In [ ]:
df = pd.read_csv("Social_Network_Ads.csv")

In [ ]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [ ]:
df = df.drop("User ID",axis = 1)
df.head()

   Gender  Age  EstimatedSalary  Purchased
0    Male   19            19000          0
1    Male   35            20000          0
2  Female   26            43000          0
3  Female   27            57000          0
4    Male   19            76000          0

In [ ]:
df['Gender'].isna().unique() # There are no null values in "Gender" column.
df['Age'].isna().unique()   # There are no null values in "Age" column.
df["EstimatedSalary"].isna().unique()  # There are no null values in "EstimatedSalary" column.
df["Purchased"].isna().unique() # There are no null values in "Purchased" column.

array([False])

In [ ]:
"""
let's see what categorical values that we have in "Gender" and "Purchased" colummns.
"""
df['Gender'].value_counts()  #WE have two categorical values that we can encode them with "0" and "1".
df["Purchased"].value_counts()  #"Purchased" column also have only two categorical values.

0    204
1    196
Name: Gender, dtype: int64

In [ ]:
"""
ENCODING CATEGORICAL VALUES INTO NUMERICAL VALUES.
"""
df['Gender'] = df['Gender'].replace(["Male","Female"],[1,0])
df["Gender"].value_counts()

0    204
1    196
Name: Gender, dtype: int64

In [ ]:
df.describe()

           Gender         Age  EstimatedSalary   Purchased
count  400.000000  400.000000       400.000000  400.000000
mean     0.490000   37.655000     69742.500000    0.357500
std      0.500526   10.482877     34096.960282    0.479864
min      0.000000   18.000000     15000.000000    0.000000
25%      0.000000   29.750000     43000.000000    0.000000
50%      0.000000   37.000000     70000.000000    0.000000
75%      1.000000   46.000000     88000.000000    1.000000
max      1.000000   60.000000    150000.000000    1.000000

**Splitting the dataset into the Training set and Test set**

In [ ]:
X = df[['Gender','Age','EstimatedSalary']].values
y = df['Purchased'].values

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

**Feature Scaling**

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler = StandardScaler()
scaler.fit(X_train)
x_train = scaler.transform(X_train)
x_test = scaler.transform(X_test)

**Fitting K-NN to the Training set**

In [ ]:
for i in [1,2,3,4,5,6,7,8,9,10,20,30]:
  knn = KNeighborsClassifier(i)
  knn.fit(x_train,y_train)
  print("K value: ",i,"Train accuracy: ",knn.score(x_train,y_train),"val accuracy: ",np.mean(cross_val_score(knn,x_train,y_train,cv = 10)))

K value:  1 Train accuracy:  0.996875 val accuracy:  0.85
K value:  2 Train accuracy:  0.91875 val accuracy:  0.828125
K value:  3 Train accuracy:  0.93125 val accuracy:  0.88125
K value:  4 Train accuracy:  0.9125 val accuracy:  0.8875
K value:  5 Train accuracy:  0.9125 val accuracy:  0.9
K value:  6 Train accuracy:  0.921875 val accuracy:  0.896875
K value:  7 Train accuracy:  0.9125 val accuracy:  0.89375
K value:  8 Train accuracy:  0.915625 val accuracy:  0.89375
K value:  9 Train accuracy:  0.909375 val accuracy:  0.896875
K value:  10 Train accuracy:  0.909375 val accuracy:  0.89375
K value:  20 Train accuracy:  0.89375 val accuracy:  0.88125
K value:  30 Train accuracy:  0.859375 val accuracy:  0.85

In [ ]:
"""
Here we have to look for the best fit model 
that model should not over fit
Here we found that the k=5 have the best accuracy in predicting this kind of data.
"""

knn = KNeighborsClassifier(5)
knn.fit(x_train,y_train)

KNeighborsClassifier()

**Predicting the Test set results**

In [ ]:
y_pred = knn.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score, roc_auc_score, plot_roc_curve

In [ ]:
acc = accuracy_score(y_test, y_pred)
print("Test set accuracy: {:.2f}".format(acc))

Test set accuracy: 0.40

**Making the Confusion Matrix**

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix

In [ ]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00        48
           1       0.40      1.00      0.57        32

    accuracy                           0.40        80
   macro avg       0.20      0.50      0.29        80
weighted avg       0.16      0.40      0.23        80

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
print(confusion_matrix(y_test,y_pred))

[[ 0 48]
 [ 0 32]]